
{% extends 'header.html' %}

{% block content %}

      <div class="nav">
        <h2>– ENGLAND –</h2>
        <table class="content-nav"></table>
      </div>
      <div class="content" style="margin-top: 170px ;">
        <div class="clubs">
          <div class="club">
            <a href="../country-clubs.html">
              <img src="../img/manchester.logo.png" alt="" />
              Manchester City
            </a>
          </div>
          <div class="club">
            <a href="../country-clubs.html">
              <img src="../img/manchester.logo.png" alt="" />
              Manchester City
            </a>
          </div>
          <div class="club">
            <a href="../country-clubs.html">
              <img src="../img/manchester.logo.png" alt="" />
              Manchester City
            </a>
          </div>
          <div class="club">
            <a href="../country-clubs.html">
              <img src="../img/manchester.logo.png" alt="" />
              Manchester City
            </a>
          </div>
          <div class="club">
            <a href="../country-clubs.html">
              <img src="../img/manchester.logo.png" alt="" />
              Manchester City
            </a>
          </div>
          <div class="club">
            <a href="../country-clubs.html">
              <img src="../img/manchester.logo.png" alt="" />
              Manchester City
            </a>
          </div>
          <div class="club">
            <a href="../country-clubs.html">
              <img src="../img/manchester.logo.png" alt="" />
              Manchester City
            </a>
          </div>
          <div class="club">
            <a href="../country-clubs.html">
              <img src="../img/manchester.logo.png" alt="" />
              Manchester City
            </a>
          </div>
          <div class="club">
            <a href="../country-clubs.html">
              <img src="../img/manchester.logo.png" alt="" />
              Manchester City
            </a>
          </div>
          <div class="club">
            <a href="../country-clubs.html">
              <img src="../img/manchester.logo.png" alt="" />
              Manchester City
            </a>
          </div>
          <div class="club">
            <a href="../country-clubs.html">
              <img src="../img/manchester.logo.png" alt="" />
              Manchester City
            </a>
          </div>
          <div class="club">
            <a href="../country-clubs.html">
              <img src="../img/manchester.logo.png" alt="" />
              Manchester City
            </a>
          </div>
          <div class="club">
            <a href="../country-clubs.html">
              <img src="../img/manchester.logo.png" alt="" />
              Manchester City
            </a>
          </div>
          <div class="club">
            <a href="../country-clubs.html">
              <img src="../img/manchester.logo.png" alt="" />
              Manchester City
            </a>
          </div>
          <div class="club">
            <a href="../country-clubs.html">
              <img src="../img/manchester.logo.png" alt="" />
              Manchester City
            </a>
          </div>
          <div class="club">
            <a href="../country-clubs.html">
              <img src="../img/manchester.logo.png" alt="" />
              Manchester City
            </a>
          </div>
        </div>
      </div>

{% endblock %}
